@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.frame {
  position: fixed;
  inset: 0;
  z-index: 999;

  &_bg {
    display: flex;
    position: absolute;
    inset: 0;

    .bg_part {
      width: 50%;
      height: 100%;
      background: #111;
      transform-origin: top;

      &:first-child {
        transform-origin: bottom;
      }
    }
  }

  &_line {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 0%;
    transform-origin: top;
    transform: translateX(-50%);
    background: #fff;
  }

  &_text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;

    div {
      color: #fff;
      font-size: 2em;
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      text-transform: uppercase;

      &:last-child {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }
    }
  }

  &_loading {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    bottom: 20px;
    animation: 1s linear infinite loading;

    @keyframes loading {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
