@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.answer {
  min-height: 100dvh;
  background: var.$clr-dark-normal;
  padding: 0 2em;
  padding-top: 5em;
  padding-bottom: 5em;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    p:first-child {
      font-size: clamp(1.25rem, 1.5vw, 1.5rem);
      font-weight: bold;
    }

    p {
      color: var.$clr-light-hard;
      font-size: clamp(1rem, 1.2vw, 1.1rem);
      text-align: center;
      max-width: 800px;
      width: 100%;
      line-height: 1.5em;
    }
  }
}
