@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.answer {
  min-height: 100dvh;
  background: var.$clr-dark-normal;
  padding: 5em 1em;

  @media (max-width: 768px) {
    padding-top: 5em;
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    p {
      color: var.$clr-light-hard;
      font-size: clamp(1rem, 1.2vw, 1.1rem);
      text-align: center;
      max-width: 800px;
      width: 100%;
      line-height: 1.5em;

      &:first-child {
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        font-weight: bold;
      }
    }
  }
}
